@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

* {
  box-sizing: border-box;
  font-family: monospace;
  /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); */
}

h1,
h2,
h3,
p {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

body,
.game {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: peru;
  height: 100vh;
}

.game {
  gap: 1rem;
}

.shop-item-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  gap: 0.5rem;
  height: 100px;
  width: 350px;
  overflow: scroll;
}

.shop-item-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cookie {
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  width: 50%;
  height: auto;
  cursor: pointer;
}

.clicked {
  /* created animation gelatine, which transform the scale on the img in 0.25 sec and infinite combines the 4 transform into a single property */
  animation: gelatine 0.25s infinite;
}

@keyframes gelatine {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

/* div {
  border-style: solid;
} */

th,
td {
  text-align: center;
  padding-bottom: 1rem;
}

/* Desktop screen size  */
@media (min-width: 500px) {
  .game {
    flex-direction: row;
  }
}
