@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

* {
  box-sizing: border-box;
  font-family: monospace;
  /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); */
}

button {
  all: unset;
}

header {
  width: 100vw;
  background-color: rgb(41, 40, 40);
  color: whitesmoke;
  padding: 1rem 0;
}

button {
  background-color: black;
  color: whitesmoke;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(41, 40, 40);
}

button:active {
  background-color: whitesmoke;
  color: black;
}

h1,
h2,
h3,
p {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

body,
.game {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: peru;
  height: 100vh;
  justify-content: space-between;
}

.game {
  justify-content: space-around;
  gap: 1rem;
}

.shop-item-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  gap: 0.5rem;
  height: 19vh;
  width: 350px;
  overflow: scroll;
}

.shop-item-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cookie {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
}

img {
  width: 50%;
  height: auto;
  cursor: pointer;
}

.clicked {
  /* created animation gelatine, which transform the scale on the img in 0.25 sec and infinite combines the 4 transform into a single property */
  animation: gelatine 0.25s infinite;
}

@keyframes gelatine {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

/* div {
  border-style: solid;
} */

th,
td {
  text-align: center;
  padding-bottom: 1rem;
}

footer {
  width: 100vw;
  background-color: rgb(41, 40, 40);
  color: whitesmoke;
  text-align: center;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

footer button:hover {
  background-color: rgb(80, 78, 78);
  color: black;
}

/* Desktop screen size  */
@media (min-width: 500px) {
  .game {
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    gap: 3rem;
  }

  .shop-item-container {
    /* display: flex;
    flex-direction: column;
    gap: 1rem; */
    height: 50vh;
  }

  header div {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
